.tooltip
{
  display: inline;
  text-decoration:none;
  position:relative;
  border-bottom: 1px dotted black;
  background-color:#EBEDEF;
}
 
 
.tooltip span
{
  display: none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white; 
}
 
 
.tooltip span img
{
  float:left;
  margin:0px 8px 8px 0;
}
 
 
.tooltip:hover span
{
  display:inline;
  position:absolute;
  top:0;
  left:0;
  z-index:1000;
  width:auto;
  max-width:1000px;
  min-width:250px;
  min-height:128px;
  border:1px solid black;
  margin-top:12px;
  margin-left:32px;
  overflow:hidden;
  padding:8px;
}